<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="urn:schemas:morphis:frames:config">
	<parameters>
        <parameter name="projectroot" value="../workspace/webapp-workspace/src/main/webapp"/>
        <parameter name="outputpath" value="target/classes"/>
		<parameter name="debug" value="false" />		
		<parameter name="outputmode" value="pre" />
		<parameter name="javamodel" value="true" />
	</parameters>
    <locales default="en"> 
        <locale language="en" />
        <locale language="pt" />
        <locale language="ar" />
    </locales>
</config>